django
python-decouple
whitenoise
gunicorn
dj-database-url
psycopg2-binary
validate-email==1.3
six
django-allauth
PyJWT
djangorestframework
scikit-learn==1.2.2
pandas
numpy
joblib
scipy
requests
pillow