django
python-decouple
whitenoise
gunicorn
dj-database-url
psycopg2-binary
validate-email==1.3
six
django-allauth
PyJWT
cryptography
djangorestframework
numpy<2.0
scipy
joblib
scikit-learn==1.2.2
pandas
requests
pillow