<footer id="footer" class="footer" data-aos="fade-up" data-aos-delay="10" data-aos-offset="150px">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>{{site_name}}</span>
          </a>
          <p>Promote holistic health through interactive games, enhancing cognitive abilities, eye health, and mental well-being.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="{% url 'utils-terms-conds' %}">Terms of service</a></li>
            <li><a href="{% url 'utils-contact-us' %}">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Collaborate with Us</h4>
          <ul>
            <li><a href="{% url 'utils-contact-us' %}">Advertise with Us</a></li>
            <li><a href="#">Sponsorship</a></li>
            <li><a href="{% url 'blog-home' %}">Blog</a></li>
            <li><a href="">Languages</a></li>
            <li><a href="">Your Account</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            {{site_name}}<br>
            12 main, 13rd Cross,<br>
            Jp Nagar<br>
            Bengaluru - 560068.<br>
            Karnataka, INDIA.<br><br>
            <strong>Email:&nbsp;</strong><a class="mail_to_a" href="mailto:venkat@nvshome.tk">venkat@nvshome.tk</a></a><br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-1">
      <div class="copyright">
        &copy; Copyright <strong><span>{{site_name}}</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>