{% load static %}
<header id="header" class="header fixed-top bg-">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img class="mx-0" src="{% static 'icons/favicon.png' %}" alt="logo"/>
        <span class="mx-2">{{site_name}}</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li class="nav-link"><a href="{% url 'blog-home' %}"><span>Blog</span></a></li>
          <li class="nav-link"><a href="{% url 'predict-home' %}"><span>Remote Monitoring</span></a></li>
          <li class="nav-link"><a href="{% url 'games-home' %}"><span>Games</span></a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'main-tdee' %}">Tdee</a></li>
              <li><a href="{% url 'main-nutrition' %}">Nutrition</a></li>
              <li><a href="{% url 'predict-diseases' %}">Know Your Disease</a></li>
              <li><a href="{% url 'blog-home' %}">Blog</a></li>
            </ul>
          </li>

          <li><a class="nav-link" href="{% url 'utils-contact-us' %}">Contact</a></li>
          {% if request.user.is_authenticated %}
            {% include 'base/_details/profile_on_login.html' %}
          {% else %}
            <li><a href="{% url 'accounts-login' %}" class="header_lr_btn_login btn btn-outline-light">Login</a></li>
            <li><a href="{% url 'accounts-register' %}" class="header_lr_btn_reg btn btn-light text-default">SignUp</a></li>
            {% endif %}
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>