<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0;" />
  <meta name="format-detection" content="telephone=no" />
</head>
<body bgcolor="#333" style="margin: 0; padding: 0; background-color: #333; color: #f0f0f0;">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td align="center" bgcolor="#333" style="padding: 8px;">
        <!-- Header -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" style="font-size: 24px; font-weight: bold; padding: 10px;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6Wi8n6E2xHTUqi47g9fUyaWPLPArOCMyS0F5_or2-DUv-15l3" width="60" height="60" alt="{{title}}" title="{{title}}" />
              <h2 style="margin: 0; color: #fff;">{{title}}</h2>
            </td>
          </tr>
        </table>
        
        <!-- Content -->
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" style="padding: 10px;">
              <p style="font-size: 17px; font-weight: 400; line-height: 160%; color: #f0f0f0; font-family: 'Helvetica Neue', Arial, sans-serif;">
                Hi {{user_name}},
              </p>
              <p style="font-size: 15px; font-weight: 400; line-height: 21px; color: gray; font-family: 'Helvetica Neue', Arial, sans-serif;">
                You've requested to reset your password. Click the button below to reset it.
              </p>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 10px;">
              <a href="{{reset_url}}" target="_blank" style="text-decoration: none; color: #ffffff; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 17px; font-weight: 400; line-height: 120%; display: inline-block; padding: 10px 24px; background-color: #3969d5; border-radius: 4px;">
                Reset Password
              </a>
            </td>
          </tr>
          <tr>
            <td align="left" style="padding: 10px;">
              <p style="margin: 0; color: #f0f0f0;">
                If you didn't request this, you can safely ignore this email.
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" style="padding: 10px;">
              <p style="margin: 0; color: #f0f0f0;">
                If the button above doesn't work, copy and paste the following link in your browser:
              </p>
              <p style="margin: 1.5% 0;">
                <a href="{{reset_url}}" target="_blank" style="text-decoration: none; color: #0f90ba;">{{reset_url}}</a>
              </p>
            </td>
          </tr>
          <tr>
            <td align="left" style="padding: 10px;">
              <p style="margin: 0; color: #f0f0f0;">
                Best regards,
              </p>
              <a href="#" style="text-decoration: none;">
                <h4 style="margin: 0; color: #fff;">{{title}}</h4>
              </a>
            </td>
          </tr>
          <!-- Footer -->
          <tr>
            <td align="center" style="padding: 10px;">
              <hr color="#E0E0E0" align="center" width="100%" size="1" noshade style="margin: 0; padding: 0;" />
              <p style="font-size: 13px; font-weight: 400; line-height: 150%; color: #999999; font-family: 'Helvetica Neue', Arial, sans-serif;">
                Check out our <a href="{{baseurl}}" target="_blank" style="text-decoration: none; color: #f0f0f0;">FAQ</a> for more information or contact us through our <a href="{{baseurl}}" target="_blank" style="text-decoration: none; color: #999999;">Contact Form</a>. Our support team is available to help you 24/7.
              </p>
              <p style="font-size: 13px; font-weight: 300; line-height: 18px; color: #f0f0f0; font-family: 'Helvetica Neue', Arial, sans-serif; margin: 0;">
                This email was sent to <a href="mailto:{{user_email}}" style="text-decoration: none; color: #0f90ba;">{{user_email}}</a>
              </p>
              <p style="font-size: 13px; font-weight: 300; line-height: 18px; color: #f0f0f0; font-family: 'Helvetica Neue', Arial, sans-serif; margin: 0;">
                Copyright &copy; 2023 {{title}}. All rights reserved.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
