<div class="row mt-1">
    <label class="col-sm-3 col-form-label" for="inputemail">Email address <span class="text-danger">*</span></label>
    <div class="col-sm-9">
      <input required type="email" name="email" placeholder="abc@gmail.com" class="form-control" id="inputemail"
      value="{{ FieldValues.email }}" />
      <div class="invalid-feedback invalid-email-feedback" style="display: none"></div>
      <p class="text-sm text-success email-success" style="display: none;"></p>
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-sm-3 col-form-label" for="inputfullname">Full Name <span class="text-danger">*</span></label>
    <div class="col-sm-9">
      <input required type="text" name="fullname" placeholder="Fullname" class="form-control"
      id="inputfullname" value="{{ FieldValues.fullname }}" />
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-sm-3 col-form-label" for="inputfullname">Gender <span class="text-danger">*</span></label>
    <div class="col-sm-9 d-flex">
      <div class="form-check my-1">
        <input class="form-check-input" type="radio" name="gender" id="inputgender_M" value="Male" required {% if FieldValues.gender == 'Male' %}checked{% endif %}>
        <label class="form-check-label" for="inputgender_M">
          Male
        </label>
      </div>
      <div class="form-check mx-3 my-1">
        <input class="form-check-input" type="radio" name="gender" id="inputgender_F" value="Female" required {% if FieldValues.gender == 'Female' %}checked{% endif %}>
        <label class="form-check-label" for="inputgender_F">
          Female
        </label>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <label for="inputmobile_no" class="col-sm-3 col-form-label">Mobile Number <span class="text-danger">*</span></label>
    <div class="col-sm-9">
      <input required type="tel" class="form-control" name="mobile_no" id="inputmobile_no" maxlength="18"
        value="{{ FieldValues.mobile_no_full }}">
    </div>
  </div>

  <div class="row mt-1">
    <label class="col-sm-3 col-form-label" for="inputpassword">Password <span class="text-danger">*</span> 
      <span class="nvs-tooltip" href="#" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="<strong>★</strong> Password must contain atleast 8 characters." data-bs-html="true">
            <span class="badge rounded-pill text-bg-warning">i</span>
        </span>
    </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input id="inputpassword" type="password" class="form-control" placeholder="Password" required name="password">
        <span class="input-group-text">
          <i toggle="#inputpassword" class="fa fa-fw toggle-password fa-eye"></i>
        </span>
      </div>
    </div>
  </div>