{% extends 'base/index.html' %}

{% block title %}
Terms And Conditions | {{site_name}}
{% endblock title %}

{% block content %}
<h1 class="text-center mb-3">Terms And Conditions</h1>
<section class="container">
    <p>This website, ascenteducation.com and all subdomains of ascenteducation.com, hereinafter referenced as site or
        website, are operated by Ascent Education. Throughout the site, the terms &ldquo;we&rdquo;, &ldquo;us&rdquo; and
        &ldquo;our&rdquo; refer to Ascent Education. Ascent Education offers this website, including all information,
        tools and services available from this site to you, the user, conditioned upon your acceptance of all terms,
        conditions, policies and notices stated here.</p>
    <p>By visiting our site and/ or purchasing something from us, you engage in our &ldquo;Service&rdquo; and agree to
        be bound by the following terms and conditions (&ldquo;Terms of Service&rdquo;, &ldquo;Terms&rdquo;), including
        those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms
        of Service apply to all users of the site, including without limitation users who are browsers, vendors,
        customers, and/ or contributors of content.</p>
    <p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any
        part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and
        conditions of this agreement, then you may not access the website or use any services. If these Terms of Service
        are considered an offer, acceptance is expressly limited to these Terms of Service.</p>
    <p>Any new features or tools which are added to the current website shall also be subject to the Terms of Service.
    </p>
</section>
{% endblock content %}