{% extends 'base/index.html' %}

{% block title %}
    Nutrition | {{site_name}}
{% endblock title %}

{% block content %}
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header p-1">
                        <h4>Total Consumption</h4>
                    </div>
                    <div class="card-body p-2">
                        <div>
                            <p class="m-0"><span class="fw-bold">Total Calories: </span>{{data.get_diet_total_energy |floatformat:2 }} kcal</p>
                            <p class="m-0"><span class="fw-bold">Total Protein: </span>{{data.get_diet_total_protein |floatformat:2 }} g</p>
                            <p class="m-0"><span class="fw-bold">Total Fat: </span>{{data.get_diet_total_fat |floatformat:2 }} g</p>
                            <p class="m-0"><span class="fw-bold">Total Carbohydrates: </span>{{data.get_diet_total_carbohydrates |floatformat:2 }} g</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header p-1">
                        <h4>Your Diet</h4>
                    </div>
                    <div class="card-body p-1">
                        {% if data.nutritionitems_set.all %}
                            {% for i in data.nutritionitems_set.all %}
                            <div class="col-md-12 mb-1">
                                <div class="card my-1">
                                    <div class="row g-0">
                                        <div class="col-md-2">
                                            <img style="max-height: 60px;" class="img-fluid img-thumbnail" src="{{i.img_url}}" alt="food_item">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold m-0 p-0 mt-1 text-default">{{i.name}}</h5>
                                                <p class="card-text"><span class="fw-semibold">Calories: </span>{{i.energy}} per 100g</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="d-flex justify-content-center align-items-center">
                                                <button class="btn btn-danger btn-sm" onclick="confirmDeleteNutritionItem( {{ i.id }}, '{{i.name}}' )">
                                                    <i class="fa-solid fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else%}
                        <p>No Food Item Found</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3>Nutrition Search</h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-2 mt-3">
                            <input type="text" id="foodInput" class="form-control border border-2 border-default" placeholder="Enter a Food.." style="height: 50px;">
                            <button class="btn btn-default px-4" type="submit" onclick="searchNutrition()">Search</button>
                        </div>
                    </div>
                </div>
                <div id="foodSearch" class="foodSearch row d-flex">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        function searchNutrition() {
            const foodInput = document.getElementById('foodInput').value;
            if (foodInput == "") {
                alert("Enter the food to search");
                return;
            }

            const url = `{% url 'main-get_nutrition_data' %}?food_input=${foodInput}`;
            fetch(url)
                .then(response => response.json())
                .then(data => displayResults(data))
                .catch(error => console.error("Error fetching data:", error));
        }

        function displayResults(data) {
            const resultsContainer = document.getElementById("foodSearch");
            resultsContainer.innerHTML = "";

            if (data.parsed.length === 0) {
                resultsContainer.innerHTML = "<p>No results found.</p>";
                return;
            }

            function formatNutrient(value) {
                return parseFloat(value).toFixed(2);
            }

            data.hints.forEach(hint => {
                const food = hint.food;
                const measures = hint.measures[0];

                const foodItem = `
                <div class="col-md-4 mb-2">
                    <div class="card">
                        <img style="max-height:150px" src="${food.image ?? 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png'}" alt="${food.label}" class="card-img-top">
                        <div class="card-body p-1">
                            <h4 class="card-title p-0">${food.label}</h4>
                            <p class="card-text m-0"><span class="fw-semibold">Energy: </span>${formatNutrient(food.nutrients.ENERC_KCAL)} kcal</p>
                            <p class="card-text m-0"><span class="fw-semibold">Protein: </span>${formatNutrient(food.nutrients.PROCNT)} g</p>
                            <p class="card-text m-0"><span class="fw-semibold">Fat: </span>${formatNutrient(food.nutrients.FAT)} g</p>
                            <p class="card-text m-0"><span class="fw-semibold">Carbohydrates: </span>${formatNutrient(food.nutrients.CHOCDF)} g</p>
                            <p class="card-text m-0"><span class="fw-semibold">Category: </span>${food.categoryLabel}</p>
                            <p class="card-text m-0"><span class="fw-semibold">Measure: </span>${measures.label}</p>
                            <button class="btn btn-primary" onclick="addToDiet('${food.label}', '${food.image ?? 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png'}', ${food.nutrients.ENERC_KCAL}, ${food.nutrients.PROCNT}, ${food.nutrients.FAT}, ${food.nutrients.CHOCDF})">Add to Diet</button>
                        </div>
                    </div>
                </div>
                `;

                resultsContainer.innerHTML += foodItem;
            });
        }

        function addToDiet(label, image, energy, protein, fat, carbohydrates) {
            const nutritionData = {
                label,
                image,
                energy,
                protein,
                fat,
                carbohydrates,
            };
            const url2 = `{% url 'main-save_nutrition_data' %}`;
            fetch(url2, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(nutritionData),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Failed to save nutrition data: ${response.statusText}`);
                }
                return response.json();
            })
            .catch(error => {
                console.error('Error saving nutrition data:', error);
                alert('Failed to save nutrition data. Please try again.');
            });
            location.reload()
        }

        function confirmDeleteNutritionItem(itemId, itemName) {
            const confirmation = confirm(`Are you sure you want to delete ${itemName}?`);
        
            if (confirmation) {
                removeFromDiet(itemId);
            }
        }

        function removeFromDiet(itemId) {
            const url = `/api/delete_nutrition_data/${itemId}/`;
        
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Failed to delete nutrition data: ${response.statusText}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Nutrition data deleted successfully:', data);
                location.reload();
            })
            .catch(error => {
                console.error('Error deleting nutrition data:', error);
                alert('Failed to delete nutrition data. Please try again.');
            });
        }
    </script>
{% endblock scripts %}